.git
.pytest_cache
__pycache__
*.pyc
*.pyo

Agent
Engine
Engine.old
Dependencies
Temp
Update_Staging
Unit_Test_Results
Updater.log

Data/Engine/web-interface/node_modules
Data/Engine/web-interface/build
Data/Engine/web-interface/dist
