# Python Byte-compiled / Optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Compiled Release Files
Borealis-Agent.exe
Borealis-Server.exe

# Pyinstaller Files
/Data/Agent/Packaging_Data/
/Data/Server/Packaging_Server/

# Development Folders
/Server/
/Agent/
/ElectronApp/
/Workflows/

# Misc Files/Folders
.vs/s