# Production Deployment Folders
/Agent/
/Engine/
/Temp/
/Update_Staging/

# On-the-Fly Downloaded Dependencies
/Dependencies/NodeJS/
/Dependencies/Python/
/Dependencies/AutoHotKey/
/Dependencies/ApacheGuacamole/
/Dependencies/git/
/Dependencies/VPN_Tunnel_Adapter/
/Dependencies/UltraVNC_Server/
/Data/Engine/Python_API_Endpoints/

# Misc Files/Folders
.vs/s
__pycache__
Updater.log
